header img {
	width: 97%;
}
body {
	overflow-x: hidden;
	width: 1440px;
	margin: auto;
	
}

footer {
	background-color: #b2b5ba;
	height: 100px;
	text-align: center;
}

footer span {
	font-family: sans-serif;
	color: gray;
}

hr {
	border: 5px solid gray;
	border-radius: 10px;
}

.meklesana {
	border-radius: 25px;
  	border: 2px solid black;
  	padding: 20px; 
  	width: 200px;
  	height: auto;
  	margin: auto;
}

.meklesana img {
	width: 20px;
	height: 20px;
}

/*MENU*/

.menu {
	float: left;
	border: 2px solid cyan;
	border-radius: 30px;
	background-color: #02fcb9;
	height: 400px;
}

.menu img {
	width: 200px;
	height: auto;
}

.menu ul {
	list-style: none;
}

.menu ul li:hover {
	background-color: #0da57c;
}

.menu ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.menu ul li a:hover {
	color: black;
}


/*NEWS*/

.news {
	width: 800px;
	margin: auto;
	height: 400px;
}

.news article {
	width: 200px;
	margin: 33px;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
	text-align: center;
	font-size: 20pt;
	font-family: serif;
	float: left;
}

.news article div {
	width: 180px;
	height: 200px;
	margin: auto;
}

.news article div span {
	font-size: 12pt;
}

.news article img {
	width: 200px;
	height: 100px;
}

/*IMAGE AND VIDEO*/

.string {
	margin: 20px;
	height: 300px;
	width: 1350px;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
}

.string img {
	width: 200px;
	height: auto;
	float: left;
	margin-right: 50px;
	margin-left: 20px;
}

.string video {
	width: 40%;
	height: auto;
	margin-left: 75px;
}

#video {
	 transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

/* VIDEO GLL */

.video_gll {
	height: 1000px;
}

.video_gll video {
	margin: 30px;
	width: 300px;
	height: auto;
}


/*PHOTO GLL*/
#box {
	height: 1500px;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
	margin-top: 20px;
	margin-left: 230px;
	width: 1100px;
}

.photo_gll {
	display: flex;
	height: 800px;
	flex-wrap: wrap;
	justify-content: center;

}

.photo_gll img {
	width: 300px;
	max-width: 300px
	padding: 10px;
	margin: 30px;	
}

/*FEEDBACK*/
.feedback form {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 600px;
	height: 700px;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
	border-radius: 20px;
}

.feedback img {
	width: 400px;
	padding-left: 100px;
	height: auto;
	padding-right: 100px;
	background-color: cyan;
}

.feedback input {
	margin-left: 155px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.feedback textarea {
	margin-left: 150px;	
	margin-top: 20px;
}

.feedback input[type=submit] {
	padding: 5px 30px 5px 30px;
	margin-left: 215px;
	background-color: cyan;
	border: none;
	color: white;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 18pt;
}

/*CONTACTS*/
.contacts div{
	width: 700px;
	margin: auto;
	margin-top: 30px;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
	height: 700px;
	font-family: sans-serif;
}

.contacts div div {
	width: 300px;
	margin-left: 110px;
	box-shadow: none;
	height: auto;
	float: left;
}

.contacts article {
	width: 500px;
	font-family: sans-serif;
	margin: auto;
	padding: 30px;
}

#googleMap {
	width: 50%;
	height: 30px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 300px;
}

/*MEDIA*/
@media screen and (max-width: 600px) {
	.menu {
		float: none;
		width: 200px;
		margin: auto;
		background-color: black;	
	}
	
	.news {
		height: 1600px;
		margin-left: 480px;
	}

	.news article{
		width: 400px;
		height: 460px;
		font-size: 26pt;
	}

	.news article div {
		width: 300px;
	}

	.news article div span {
		font-size: 20pt;
	}

	.news article img {
		width: 400px;
		height: 200px;
	}

	.string {
		display: flex;
		flex-direction: column;
		width: 400px;
		margin: auto;
		height: auto;
	}

	.string img {
		margin: auto;
		margin-top: 50px;
	}

	.string video {
		width: 350px;
		margin: auto;
		margin-top: 50px;
	}
}